@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
  font-family: 'Oswald', sans-serif;
  background-image: url("../img/background\ cars.mp4");
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-attachment: fixed;
  overflow: scroll;
}


.delivering {
    margin-top: -35px !important; 
    display: flex;
}


#background-video {
    position: fixed;
    right: 0;
    bottom: 150;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -5; 
    filter: brightness(30%);
}
    
.active {
    color: aliceblue;
}



.off-screen-menu {
    background-color:  rgba(255, 0, 0, 1);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}



.off-screen-menu.active {
    right: 0;
}
.off-screen-menu a {
    color: black;
    transition: color 0.6s;
}

.off-screen-menu-a:hover {
    color: white;
    border-bottom: 3px solid whitesmoke;
    padding-top: 5px;
}


.fat {
    font-weight: bolder;
}

.info h1 {
    font-size: 100px;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 100;
}

.first-line {
    display: block; 
    font-weight: lighter;
    margin-bottom: -40px;
}

.info {
    display: flex;
    top: 50%;
    left: 50%; 
    color: white;
    height: 115px;
    width: 100%;
    position: absolute;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

.info p {
    top: 80px;
    position: absolute;
    display: flex;
}

nav {
    padding: 1rem;
    display: flex;
}

nav img {
    height: 85px;
    width: 150px;
}

.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: red;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:hover {
    height: 5px;
    width: 100%;
    background-color: red;
    color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navbar-links {
    display: flex;
    justify-content: center;
  }
  
  .nav-link {
    margin-left: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.6s;
  }
  
  .nav-link:hover {
    color: red;
  }
  
  .car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .car-item {
    width: 30%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .car-item:hover {
    transform: translateY(-10px);
  }
  
  .car-item img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .car-item h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  .car-item p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .car-item .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f44336;
    margin-bottom: 1rem;
  }
  
  .car-item .buy-button {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  .car-item .buy-button:hover {
    background-color: #5e1514;
  }


  .car-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem 0;
  }
  .car-item {
    width: 30%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .car-item:nth-child(even) {
    margin-top: 2rem;
  }
  
  .car-item img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  
  .car-item h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  .car-item p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .car-item .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f44336;
    margin-bottom: 1rem;
  }
  
  .car-item .buy-button-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }
  
  .car-item .buy-button {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 2rem;
  }
  
  .car-item .buy-button:hover {
    background-color: #e53935;
  }







  @media screen and (max-width: 768px) {
    .car-item {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .car-item {
      width: 100%;
    }
  }