@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Oswald:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Oswald:wght@200&display=swap');

:root {
    --text-dark: #030712;
    --text-light: #6b7280;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Oswald', sans-serif;
    background-image: url("../img/background\ cars.mp4");
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    background-attachment: fixed;
    overflow-x: hidden;
}

.logo img {
    max-width: 120px;
    height: auto;
}

.delivering {
    margin-top: -35px !important; 
    display: flex;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 150;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -5; 
    filter: brightness(50%);
    
}
    
.active {
    color: aliceblue;
}



.off-screen-menu {
    background-color:  rgba(255, 0, 0, 1);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}



.off-screen-menu.active {
    right: 0;
}
.off-screen-menu a {
    color: #fff;
    transition: color 0.6s;
}

.off-screen-menu-a:hover {
    color: #fff;
    border-bottom: 3px solid whitesmoke;
    padding-top: 5px;
}


.fat {
    font-weight: bolder;
    color: red;
}

.info h1 {
    font-size: 100px;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 100;
}

.first-line {
    display: block; 
    font-weight: lighter;
    margin-bottom: -145px;
    text-align: center;
    justify-content: center;
}

.info {
    display: flex;
    top: 50%;
    left: 50%; 
    color: white;
    height: 115px;
    width: 100%;
    position: absolute;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

.info p {
    top: 80px;
    position: absolute;
    display: flex;
}

nav {
    padding: 1rem;
    display: flex;
}

nav img {
    height: 85px;
    width: 150px;
}

.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: red;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:hover {
    height: 5px;
    width: 100%;
    background-color: red;
    color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navbar-links {
    display: flex;
    justify-content: center;
  }
  
  .nav-link {
    margin-left: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.6s;
  }
  
  .nav-link:hover {
    color: red;
  }

  

.btn {
    padding: 15px 25px;
}

img {
    width: 100%;
    display: block;
}

header {
    margin-top: 8rem;
    background-color: rgb(241, 241, 241);
    height: 600px;
}

.header-content {
    margin-left: 200px;
    margin-top: 100px;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 110%;
}

.header-content p {
    font-size: 3rem;
    font-weight: 600;
    color: black;
    margin-bottom: 0.5rem;
}

.header-content h1 {
    font-size: 1,5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: var(--text-dark);
}

.header-content .btn {
    background-color: var(--text-dark);
    color: #fff;
}
.header-content .btn:hover {
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.header-img img {
    max-height: 800px;
    width: 500px;
}

section {
    background-color: rgb(241, 241, 241);
    
}

.section.container {
    
    margin: auto;
    padding: 100px 10px;
}

.section-title {
    padding-bottom: .5rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    position: relative;
}

.section-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 75px;
    background-color: var(--text-dark);
}

.musthave-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.musthave-nav a {
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.3s;
}

.musthave-nav a:hover {
    color: red;
}

.musthave-grid {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.musthave-card {
    display: grid;
    gap: 0.5rem;
    color: var(--text-dark);
}

.musthave-card img {
    height: 680px;
    
}

.musthave-card h4 {
    font-size: 1rem;
    font-weight: 600;
}

.musthave-card p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.musthave-card p del {
    font-weight: 400;
    color: var(--text-light);
}

@media screen and (max-width: 400px) {
    .info h1 {
        font-size: 40px; 
    }

    .off-screen-menu {
        font-size: 2rem; 
    }

    .navbar-links {
        flex-direction: column; 
    }

    .nav-link {
        margin-left: 0; 
        margin-top: 10px; 
    }
}